.friendEntry
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.friendEntry:hover, friendEntry:focus 
{
    background-color: #D3D3D3;
}

.friendEntry img
{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}