@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #003166;
    text-align: center
  }
  
  /* Control the right side */
  .right {
    right: 100px;
    background-color: #003166;
    text-align: center;
  }

body{margin-top:20px;
    background-color:#003166;
    color:#90EE90;
    font-family: 'Comfortaa';
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        margin-left: 25%;
        width: 50%;
        padding: 0.775rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        font-family: 'Comfortaa';
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .body-left {
        text-align: center;

    }
    .body-right {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 1000;
        
    }
    .input-title {
        position: relative;
        left: -20%;
    }
 
label { 
    color: #ffcb05
    color #90EE90
}

p {
    font-family: 'Oswald';
    font-size: 125%;
    
    color: #90EE90
}
h5 {
    font-size: 150%;
    font-family: 'Comfortaa';
    color: #ffcb05
}

#profile_picture_display{
    width: 375px;
    height: 211px;
    background-position: center;
    background-size: cover;
}